.grid {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.grid.wide {
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
}

.row.no-gutters {
  margin: 0;
}

.col {
  padding: 0 4px;
}

.row.no-gutters .col,
.row.sm-gutter .col {
  padding: 0;
}

.row.sm-gutter {
  margin: 0 -5px;
}

.hidden {
  display: none;
}

/* Các lớp flex và max-width cho các cột */
/* [class*="c-"], [class*="m-"], [class*="l-"] {
  display: block;
} */

.c-1, .m-1, .l-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
.c-2, .m-2, .l-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
.c-3, .m-3, .l-3 { flex: 0 0 25%; max-width: 25%; }
.c-4, .m-4, .l-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
.c-5, .m-5, .l-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
.c-6, .m-6, .l-6 { flex: 0 0 50%; max-width: 50%; }
.c-7, .m-7, .l-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
.c-8, .m-8, .l-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
.c-9, .m-9, .l-9 { flex: 0 0 75%; max-width: 75%; }
.c-10, .m-10, .l-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
.c-11, .m-11, .l-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
.c-12, .m-12, .l-12 { flex: 0 0 100%; max-width: 100%; }

/* Offset classes */
/* [class*="c-o-"], [class*="m-o-"], [class*="l-o-"] {
  margin-left: 0;
} */

.c-o-1, .m-o-1, .l-o-1 { margin-left: 8.33333%; }
.c-o-2, .m-o-2, .l-o-2 { margin-left: 16.66667%; }
.c-o-3, .m-o-3, .l-o-3 { margin-left: 25%; }
.c-o-4, .m-o-4, .l-o-4 { margin-left: 33.33333%; }
.c-o-5, .m-o-5, .l-o-5 { margin-left: 41.66667%; }
.c-o-6, .m-o-6, .l-o-6 { margin-left: 50%; }
.c-o-7, .m-o-7, .l-o-7 { margin-left: 58.33333%; }
.c-o-8, .m-o-8, .l-o-8 { margin-left: 66.66667%; }
.c-o-9, .m-o-9, .l-o-9 { margin-left: 75%; }
.c-o-10, .m-o-10, .l-o-10 { margin-left: 83.33333%; }
.c-o-11, .m-o-11, .l-o-11 { margin-left: 91.66667%; }

@media (min-width: 300px) and (max-width: 640px) {
  .Homepage__rank{
   @apply flex-col gap-5 px-5;
  }

  .Header__website-name{
    display: none;
  }
  
  /* .img_slide_bottom{
    @apply h-[150px];
  } */

  .Homepage__rank--reading_week, .Homepage__rank--trending_week, .Homepage__rank--nominating_week{
    @apply w-full;
  }
}


@media (max-width: 1024px) {
  .row { margin: 0 -8px; }
  .col { padding: 0 8px; }
  .Header__dropdown-button, .Header_rank__link, .Header__action{
    display: none;
  }
  .Homepage {
    @apply px-5;
  }
  .Homepage__container {
    @apply mt-[100px];
  }
  .slide_top__img{
    @apply h-[200px];
  }
  .drop-down-responsive{
    display: flex;
    background-color: transparent !important;
  }
  .Homepage__nomination_reading{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .Homepage__reading{ 
    @apply w-full ml-0;
  }
  .Homepage__new_release_new_finish{
    @apply  flex-col gap-[4rem];
  }
  .Homepage__new_release, .slide_wrapper{
    @apply  w-full;
  }
  .swiper-bottom, .Slide__info, .New_update__comic--type, .more_span{
    @apply hidden;
  }
  .Homepage__new_finish{
    @apply w-full border-none p-0;
  }
  .Homepage__new_update, .Homepage__new_update--comic_list, .Homepage__nomination--comic_list, .Homepage__new_finish--comic_list{
    @apply p-0;
  }
  .Homepage__nomination--comic, .Homepage__new_finish--comic{
    @apply pt-3 px-3 border-none filter-none w-full;
  }
  .Homepage__new_update--comic{
    @apply flex-col items-start py-2 gap-2;
  }
  .New_update__comic--author{
    @apply flex gap-2 items-center;
  }

  .Homepage__rank--reading_week, .Homepage__highly_rated{
    @apply hidden;
  }

  .Homepage__nomination{
    @apply w-full border-none;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .wide { width: 984px; }
  /* .Header{
    @apply px-[5%];
  } */
}

@media (min-width: 1113px) {
  .row { margin: 0 -12px; }
  .col { padding: 0 12px; }
}