@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/

@font-face {
  font-family: "UTM ThuPhap Thien An";
  src: url("/public/assets/fonts/UTMThuPhapThienAn.eot");
  src: url("/public/assets/fonts/UTMThuPhapThienAn.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/UTMThuPhapThienAn.woff2") format("woff2"),
    url("/public/assets/fonts/UTMThuPhapThienAn.woff") format("woff"),
    url("/public/assets/fonts/UTMThuPhapThienAn.ttf") format("truetype"),
    url("/public/assets/fonts/UTMThuPhapThienAn.svg#UTMThuPhapThienAn")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TUV Above";
  src: url("/public/assets/fonts/TUVAbove-Light.eot");
  src: url("/public/assets/fonts/TUVAbove-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/TUVAbove-Light.woff2") format("woff2"),
    url("/public/assets/fonts/TUVAbove-Light.woff") format("woff"),
    url("/public/assets/fonts/TUVAbove-Light.ttf") format("truetype"),
    url("/public/assets/fonts/TUVAbove-Light.svg#TUVAbove-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TUV Above";
  src: url("/public/assets/fonts/TUVAbove-Black.eot");
  src: url("/public/assets/fonts/TUVAbove-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/TUVAbove-Black.woff2") format("woff2"),
    url("/public/assets/fonts/TUVAbove-Black.woff") format("woff"),
    url("/public/assets/fonts/TUVAbove-Black.ttf") format("truetype"),
    url("/public/assets/fonts/TUVAbove-Black.svg#TUVAbove-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TUV Above";
  src: url("/public/assets/fonts/TUVAbove-Bold.eot");
  src: url("/public/assets/fonts/TUVAbove-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/TUVAbove-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/TUVAbove-Bold.woff") format("woff"),
    url("/public/assets/fonts/TUVAbove-Bold.ttf") format("truetype"),
    url("/public/assets/fonts/TUVAbove-Bold.svg#TUVAbove-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TUV Above";
  src: url("/public/assets/fonts/TUVAbove.eot");
  src: url("/public/assets/fonts/TUVAbove.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/TUVAbove.woff2") format("woff2"),
    url("/public/assets/fonts/TUVAbove.woff") format("woff"),
    url("/public/assets/fonts/TUVAbove.ttf") format("truetype"),
    url("/public/assets/fonts/TUVAbove.svg#TUVAbove") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KK7-VCR OSD";
  src: url("/public/assets/fonts/KK7-VCROSDBold.eot");
  src: url("/public/assets/fonts/KK7-VCROSDBold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/KK7-VCROSDBold.woff2") format("woff2"),
    url("/public/assets/fonts/KK7-VCROSDBold.woff") format("woff"),
    url("/public/assets/fonts/KK7-VCROSDBold.ttf") format("truetype"),
    url("/public/assets/fonts/KK7-VCROSDBold.svg#KK7-VCROSDBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Kelson Sans";
  src: url("/public/assets/fonts/SVN-KelsonSansBold.eot");
  src: url("/public/assets/fonts/SVN-KelsonSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/SVN-KelsonSansBold.woff2") format("woff2"),
    url("/public/assets/fonts/SVN-KelsonSansBold.woff") format("woff"),
    url("/public/assets/fonts/SVN-KelsonSansBold.ttf") format("truetype"),
    url("/public/assets/fonts/SVN-KelsonSansBold.svg#SVN-KelsonSansBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DFVN Lucky Skirt";
  src: url("/public/assets/fonts/DFVN-LuckySkirt-Regular.eot");
  src: url("/public/assets/fonts/DFVN-LuckySkirt-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/DFVN-LuckySkirt-Regular.woff2") format("woff2"),
    url("/public/assets/fonts/DFVN-LuckySkirt-Regular.woff") format("woff"),
    url("/public/assets/fonts/DFVN-LuckySkirt-Regular.ttf") format("truetype"),
    url("/public/assets/fonts/DFVN-LuckySkirt-Regular.svg#DFVN-LuckySkirt-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TP Creation";
  src: url("/public/assets/fonts/TPCreation-Regular.eot");
  src: url("/public/assets/fonts/TPCreation-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/TPCreation-Regular.woff2") format("woff2"),
    url("/public/assets/fonts/TPCreation-Regular.woff") format("woff"),
    url("/public/assets/fonts/TPCreation-Regular.ttf") format("truetype"),
    url("/public/assets/fonts/TPCreation-Regular.svg#TPCreation-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Kelson Sans";
  src: url("/public/assets/fonts/SVN-KelsonSansLight.eot");
  src: url("/public/assets/fonts/SVN-KelsonSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/SVN-KelsonSansLight.woff2") format("woff2"),
    url("/public/assets/fonts/SVN-KelsonSansLight.woff") format("woff"),
    url("/public/assets/fonts/SVN-KelsonSansLight.ttf") format("truetype"),
    url("/public/assets/fonts/SVN-KelsonSansLight.svg#SVN-KelsonSansLight")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Kelson Sans";
  src: url("/public/assets/fonts/SVN-KelsonSans.eot");
  src: url("/public/assets/fonts/SVN-KelsonSans.eot?#iefix")
      format("embedded-opentype"),
    url("/public/assets/fonts/SVN-KelsonSans.woff2") format("woff2"),
    url("/public/assets/fonts/SVN-KelsonSans.woff") format("woff"),
    url("/public/assets/fonts/SVN-KelsonSans.ttf") format("truetype"),
    url("/public/assets/fonts/SVN-KelsonSans.svg#SVN-KelsonSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KD Hidayatullah';
  src: url('/public/assets/fonts/KDHidayatullah.eot');
  src: url('/public/assets/fonts/KDHidayatullah.eot?#iefix') format('embedded-opentype'),
      url('/public/assets/fonts/KDHidayatullah.woff2') format('woff2'),
      url('/public/assets/fonts/KDHidayatullah.woff') format('woff'),
      url('/public/assets/fonts/KDHidayatullah.ttf') format('truetype'),
      url('/public/assets/fonts/KDHidayatullah.svg#KDHidayatullah') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DFVN Arthemys Display';
  src: url('/public/assets/fonts/DFVN-ArthemysDisplay-Light.eot');
  src: url('/public/assets/fonts/DFVN-ArthemysDisplay-Light.eot?#iefix') format('embedded-opentype'),
      url('/public/assets/fonts/DFVN-ArthemysDisplay-Light.woff2') format('woff2'),
      url('/public/assets/fonts/DFVN-ArthemysDisplay-Light.woff') format('woff'),
      url('/public/assets/fonts/DFVN-ArthemysDisplay-Light.ttf') format('truetype'),
      url('/public/assets/fonts/DFVN-ArthemysDisplay-Light.svg#DFVN-ArthemysDisplay-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UVF Pistilli';
  src: url('/public/assets/fonts/UVFPistilli.eot');
  src: url('/public/assets/fonts/UVFPistilli.eot?#iefix') format('embedded-opentype'),
      url('/public/assets/fonts/UVFPistilli.woff2') format('woff2'),
      url('/public/assets/fonts/UVFPistilli.woff') format('woff'),
      url('/public/assets/fonts/UVFPistilli.ttf') format('truetype'),
      url('/public/assets/fonts/UVFPistilli.svg#UVFPistilli') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DFVN Bridge Type';
  src: url('/public/assets/fonts/DFVN-BridgeType-Regular.eot');
  src: url('/public/assets/fonts/DFVN-BridgeType-Regular.eot?#iefix') format('embedded-opentype'),
      url('/public/assets/fonts/DFVN-BridgeType-Regular.woff2') format('woff2'),
      url('/public/assets/fonts/DFVN-BridgeType-Regular.woff') format('woff'),
      url('/public/assets/fonts/DFVN-BridgeType-Regular.ttf') format('truetype'),
      url('/public/assets/fonts/DFVN-BridgeType-Regular.svg#DFVN-BridgeType-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --width-side-bar: 20vw;
  --gold: #cc9900;
  --white: #fff;
  --black: #000;
  --facebook: #3b5998;
  --red: rgb(255, 0, 0);
  --twitter: rgb(29, 161, 242);
  --background-color-1: #f1f1f1;
  --blue: #0ea5e9;
  --gray: #8b8b8b;
  --gray-trans: rgba(139, 139, 139, 0.75);
  --white-trans: rgba(255, 255, 255, 0.75);
  --title-bg-color:rgb(228 222 206/1);
  --graident: linear-gradient(
    45deg,
    #feac5e,
    #c779d0,
    #4bc0c8,
    #40e0d0,
    #ff8c00,
    #ff0080
  );
  --pastel: #ef9595;
}

* {
  @apply box-border m-0 p-0;
}

html {
  @apply text-[10px] scroll-smooth;
}

body {
  @apply min-h-screen overflow-x-hidden bg-[color:var(--white)];
  font-family: "Times New Roman", Times, serif;
}

button {
  @apply select-none cursor-pointer;
}

a {
  @apply no-underline;
}

App {
  @apply w-full h-full;
}

img,
svg {
  @apply align-middle;
}

.normal-input{
  border-radius: 5px;
  border: solid 1px var(--black);
}

.error-input{
  border-radius: 5px;
  border: solid 1px var(--red);
}

