.Homepage__wrapper {
  @apply w-full flex flex-col relative w-screen clear-both select-none;
}

.Homepage {
  @apply flex flex-col w-full justify-center mt-5 mb-10 px-[50px] py-0;
}

.Homepage__slide{
  @apply absolute w-full top-[70px];
}

.mySwiper-top {
  @apply w-full relative;
}
.slide_top__img {
  @apply w-screen h-[500px] object-cover object-[center_center];
}
.overlay {
  @apply absolute z-10 w-full h-[30%] left-0 bottom-0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.Homepage__container {
  @apply flex flex-col justify-center gap-[40px] mt-[300px] z-10;
}

.Homepage__nomination_reading,
.Homepage__highly_rated_new_rated,
.Homepage__new_release_new_finish {
  @apply flex bg-[color:var(--white)] w-full justify-center pt-[40px] px-[20px] rounded-[15px] border-[none];
}

.line {
  @apply w-[98%] h-px bg-[color:var(--black)];
}

.Homepage__nomination, .Homepage__highly_rated {
  @apply flex w-[68%] flex-col gap-[20px] items-center border-r-[1px] border-black border-solid;
}

.Homepage__nomination--title,
.Homepage__reading--title,
.Homepage__new_update--title,
.Reading_week__title,
.Trending_week__title,
.Nominating_week__title,
.Homepage__highly_rated--title,
.Homepage__new_rated--title,
.Homepage__new_release--title,
.Homepage__new_finish--title {
  @apply text-[2rem] font-bold;
  font-family: "UVF Pistilli", serif;
}

.Homepage__nomination--comic_list, .Homepage__highly_rated--comic_list {
  @apply flex flex-wrap gap-[20px] pt-[20px] justify-between px-8 w-full;
}

/* .Homepage__highly_rated--comic_list {
  @apply flex flex-wrap gap-[20px] pt-[20px];
} */

/* .Homepage__nomination--comic{
  @apply flex gap-[20px];
} */

.Homepage__nomination--comic, .Homepage__highly_rated--comic {
  @apply flex gap-[20px] rounded-[10px] bg-white px-[20px] py-[20px] cursor-pointer w-[48%];
  filter: drop-shadow(0 0 10px var(--gray));
}

.Comic__title_type{
  @apply flex gap-[20px] items-center w-full;
}

.Homepage__nomination--comic__img, .Highly_rated__comic--img {
  @apply object-contain w-[100px];
}

.Homepage__nomination--comic__info, .Highly_rated__comic--info {
  @apply flex flex-col gap-2.5 justify-center;
}

.Homepage__nomination--comic__title, .Highly_rated__comic--title {
  @apply text-2xl font-bold;
}

.Homepage__nomination--comic__intro, .Highly_rated__comic--intro {
  @apply text-[1.6rem] block text-ellipsis overflow-hidden max-w-full max-h-[3.6em] leading-[1.8em];
}

/* .author_name{
  @apply text-[1.6rem] block text-ellipsis overflow-hidden max-w-[100%] max-h-[2em] leading-[1.8em];
} */

 .Highly_rated__comic--author {
  @apply flex gap-[5px] text-2xl leading-5 items-center;
}

.Homepage__nomination--comic__type,
.Highly_rated__comic--type {
  @apply flex w-[100px] h-[30px] justify-center items-center border-[color:var(--black)] rounded-[15px] border-[solid];
}

.Homepage__nomination--comic__type:hover,
.Highly_rated__comic--:hover {
  @apply border-[color:var(--gold)] rounded-[15px] border-[solid];
}

.Homepage__reading,.Homepage__new_rated {
  @apply flex w-[30%] flex-col gap-[20px] items-center;
}

.Homepage__reading--comic_list, .Homepage__highly_rated--review_list {
  @apply flex flex-col gap-[20px] items-center w-full pl-5 pt-[20px] justify-center;
}

.Homepage__reading--comic {
  @apply flex gap-[20px] w-full rounded-[10px] bg-white px-[20px] py-[20px];
  filter: drop-shadow(0 0 10px var(--gray));
}

.Reading__comic--img {
  @apply object-contain w-[40px];
}

.Reading__comic--info {
  @apply flex flex-col gap-[10px] w-full;
}

.Reading__comic--title, .Review__user_name, .Review__story_name {
  @apply text-[1.6rem] w-full font-bold block text-ellipsis overflow-hidden max-w-full max-h-[2em] leading-[1.8em];
  text-wrap: nowrap;
}

.Reading__comic--status {
  @apply text-[1.3rem];
}

.Reading__comic--continue{
  @apply text-[1.3rem] border-none hidden text-[color:var(--gold)];
}

.Homepage__reading--comic:hover .Reading__comic--continue{
  @apply flex justify-center;
}

.Homepage__new_update {
  @apply flex flex-col gap-[20px] items-center w-full;
}

.Homepage__new_update--comic_list {
  @apply flex flex-col gap-[20px] w-full;
}

.Homepage__new_update--comic {
  @apply flex justify-between w-full items-center;
  text-wrap: nowrap;
}

.New_update__comic--type {
  @apply flex mr-5 w-[100px] text-[color:var(--gray)];
}

.New_update__comic--title {
  @apply w-[80%] text-[1.6rem] block text-ellipsis overflow-hidden max-w-[80%] max-h-[1.8em] leading-[1.8em] text-start cursor-pointer;
}

.New_update__comic--author{
  @apply w-full block text-ellipsis overflow-hidden max-w-full max-h-[1.8em] leading-[1.8em] text-start cursor-pointer;
}

.author_name{
  @apply w-full block text-ellipsis overflow-hidden max-w-full max-h-[1.8em] leading-[1.8em] text-start cursor-pointer;
}

.New_update__comic--chapter {
  @apply min-w-[10rem] block text-ellipsis overflow-hidden max-w-full max-h-[3.6em] leading-[1.8em] cursor-pointer;
  word-wrap: break-word;
}

.New_update__comic--title:hover,
.New_update__comic--chapter:hover {
  @apply text-[color:var(--gold)];
}

.New_update__comic--translator,
.New_update__comic--updating_time {
  @apply w-[100px] text-[color:var(--gray)] text-end;
}

.Homepage__rank {
  @apply flex justify-between w-full px-[3rem];
}

.Homepage__rank--reading_week,
.Homepage__rank--trending_week,
.Homepage__rank--nominating_week {
  @apply flex w-[31%] flex-col text-center gap-[20px] bg-[color:var(--white)] p-5 rounded-[10px] border-[none];
  filter: drop-shadow(0 0 10px var(--gray));
}

.Reading_week__comic_list,
.Trending_week__comic_list,
.Nominating_week__comic_list {
  @apply flex flex-col gap-[20px] w-full px-5 py-0;
}

.comic__top_1 {
  @apply flex justify-between items-start;
}

.comic__top_2,
.comic__top_3,
.comic__top_4,
.comic__top_5,
.comic__top_6,
.comic__top_7,
.comic__top_8,
.comic__top_9,
.comic__top_10 {
  @apply flex justify-between items-center;
}

.comic__medal {
  @apply w-6 object-contain text-2xl;
}

.comic__top_1--info {
  @apply flex flex-col items-start gap-[5px] w-full;
}

.comic__title {
  @apply text-2xl w-full text-start font-[normal];
}

.comic__top_1--view,
.comic__top_1__author,
.comic__top_1__type {
  @apply flex gap-[5px] items-center;
}

.book-cover {
  -webkit-transform: perspective(70px) rotateY(-10deg);
  -moz-transform: perspective(70px) rotateY(-10deg);
  transform: perspective(70px) rotateY(-10deg);
}

.book-cover-link {
  @apply relative z-10 inline-block transition-all duration-[0.2s] ease-[ease-in-out];
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  transform: translateZ(50px);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.book-cover img {
  @apply w-[70px] h-[105px];
  outline: 1px solid transparent;
}

.book-cover span {
  @apply absolute hidden z-[1] w-5 h-2.5 content-[""] shadow-[25px_0_5px_5px_#adadad] left-[7px] top-[84.1%];
  -webkit-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
  -moz-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
  -ms-transform: scale(0);
  transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
  -webkit-box-shadow: 25px 0 5px 5px #adadad;
  -moz-box-shadow: 25px 0 5px 5px #adadad;
}

.book-cover:after {
  @apply absolute z-[2] w-[10%] h-[94%] content-["_"] bg-[#efefef] shadow-[inset_0_0_5px_#333] left-[99%] top-[2%];
  -webkit-transform: perspective(70px) rotateY(30deg);
  -moz-transform: perspective(70px) rotateY(30deg);
  transform: perspective(70px) rotateY(30deg);
  -webkit-box-shadow: inset 0 0 5px #333;
  -moz-box-shadow: inset 0 0 5px #333;
}

.comic__view {
  @apply w-[70px] text-center;
}

.Highly_rated__comic--rate{
  @apply flex gap-[40px] items-center font-bold text-[1.6rem];
}

.Rate__amount{
  @apply text-white flex px-[20px] py-[10px] items-center justify-center bg-red-600 rounded-[20px] border-none;
}

.Rate__reviews{
  @apply text-yellow-700 items-center justify-center;
}

.Homepage__new_rated--review{
  @apply flex flex-col bg-amber-50 w-full px-[20px] py-[20px] rounded-[10px] border-none gap-[10px];
  filter: drop-shadow(0 0 10px var(--gray));
}
  
.Review__top{
  @apply flex justify-between w-full items-center;
}
  
.Review__user_story{
  @apply gap-[10px] text-wrap;
}

.Review__user_name span{
  @apply font-normal;
}

.Review__story_name{
  @apply text-red-500;
}
  
.Review__content{
  @apply text-[1.6rem] block text-ellipsis overflow-hidden max-w-full h-[4em] leading-[1.8em];
}

.Homepage__new_release{
  @apply flex flex-col items-center gap-[20px] w-[30%] px-[10px];
}

.slide_wrapper{
  @apply flex flex-col items-center gap-[20px] justify-center w-full h-full px-[10px];
}

.swiper-bottom {
  @apply w-[150px] h-[200px];
}

.swiper-slide-bottom {
  @apply flex items-center justify-center rounded-[20px] border-none text-[2.2rem] font-bold text-[#fff];
}

/* .slide__img{
  @apply object-contain w-[240px];
} */

/* .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
.Slide__info{
  @apply flex flex-col gap-[20px] w-full;
}

.Slide__title_type{
  @apply flex items-center justify-between;
}

.Slide____title{
  @apply font-bold text-[1.6rem] block text-ellipsis overflow-hidden max-w-[100%] h-[2.4rem] max-h-[1.8em] leading-[1.8em];
}

.Slide____type{
  @apply flex w-[100px] text-[1.4rem] h-[30px] justify-center items-center border-[color:var(--black)] rounded-[15px] border-[solid];
}

.Slide____intro{
  @apply text-[1.6rem] block text-ellipsis overflow-hidden max-w-full h-[3.6em] max-h-[3.6em] leading-[1.8em];
}

.Slide____author{
  @apply flex gap-[5px] text-2xl leading-5 items-center;
}

.Homepage__new_finish{
  @apply flex w-[68%] flex-col gap-[20px] items-center border-l-[1px] border-black border-solid pl-[40px];
}

.Homepage__new_finish--comic_list {
  @apply flex flex-wrap gap-[20px] pt-[20px] justify-between;
}

.Homepage__new_finish--comic {
  @apply flex w-[48%] gap-[20px] rounded-[10px] bg-white px-[20px] py-[20px] cursor-pointer;
  filter: drop-shadow(0 0 10px var(--gray));
}

.Comic__title_type{
  @apply flex gap-[20px] items-center;
}

.Homepage__new_finish--comic__img {
  @apply object-contain w-[100px];
}

.Homepage__new_finish--comic__info {
  @apply flex flex-col gap-2.5 justify-center;
}

.Homepage__new_finish--comic__title {
  @apply text-2xl font-bold;
}

.Homepage__new_finish--comic__intro {
  @apply text-[1.6rem] block text-ellipsis overflow-hidden max-w-full max-h-[3.6em] leading-[1.8em];
}

.Homepage__nomination--comic__author, .Homepage__new_finish--comic__author {
  @apply text-[1.6rem] block text-ellipsis overflow-hidden max-w-full max-h-[1.8em] leading-[1.8em] text-start cursor-pointer;
}

.Homepage__new_finish--comic__type {
  @apply flex w-[100px] h-[30px] justify-center items-center border-[color:var(--black)] rounded-[15px] border-[solid];
}

.Homepage__new_finish--comic__type:hover {
  @apply border-[color:var(--gold)] rounded-[15px] border-[solid];
}
